DATABASE_URL=mysql+pymysql://cinema_user:cinema_pass_123@127.0.0.1:3306/cinema_admin
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
SENTRY_DSN=
FLASK_ENV=development