DATABASE_URL=mysql+pymysql://USER:PASSWORD@HOST:3306/DBNAME
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
SENTRY_DSN=
FLASK_ENV=development